body {
  display: flex;
  justify-content: space-around;
}

.booking-container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 1200px;
  background-image: url("https://golf.com/wp-content/uploads/2019/08/golf-buddies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.golf-images-container {
  position: relative;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.golf-images-container img {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.golf-images-container img.active {
  opacity: 1;
}

.booking-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.booking-form {
  display: flex;
  flex-direction: column;
}

.booking-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.booking-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}

.booking-form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.booking-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #347a7e;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking-form button:hover {
  background-color: #26696e;
}
