label, input, button {
    margin: 10px;
    padding: 5px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 40px;
}

body {
    display: flex;
    justify-content: space-around;
   
    

   
}

.WelcomeComponent{
    border: 1px solid rgb(206, 206, 206);
    padding: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f6f8;
    position:absolute;
    z-index: 100;
    opacity: 90%;
    margin-left: 430px;
    margin-top: 100px;
    border-radius: 20px;
   

}

select{
    width: 240px;
}

button {
    margin: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(248, 250, 250);
    border: 1px solid black;
}
.container{
    background-color: white;
}
.welcomepage{
    position: relative;
    width: 1200px;
}

img{
    width: 1200px;
    height: 800px;
    border-radius: 20px;
   
}
.HomeH1 {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
}
.card-img{
    height: 350px;
}

.card-group{
    margin-bottom: 40px;
}